bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
GFramework.sln.DotSettings.user
.idea/
# ai
opencode.json
.claude/settings.local.json
.claude/settings.json
.omc/
docs/.omc/
docs/.vitepress/cache/
local-plan/
# tool
.venv/