bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
GFramework.sln.DotSettings.user
.idea/
dotnet-home/
scripts/__pycache__/
# ai
opencode.json
.claude/settings.local.json
.claude/settings.json
.omc/
docs/.omc/
docs/.vitepress/cache/
ai-plan/*
!ai-plan/README.md
!ai-plan/public/
ai-plan/public/*
!ai-plan/public/README.md
!ai-plan/public/**/
!ai-plan/public/**/*.md
ai-plan/private/
ai-libs/
.codex
# tool
.venv/
BenchmarkDotNet.Artifacts/
